:root {
  --text-color-white: #ffffff;
  --text-color-black: #212121;
  --text-color-grey: #757575;
  --accent-color: #2196f3;
  --text-color-auth-nav: rgba(255, 255, 255, 0.6);
  --text-color-black-logo: #000000;
  --background-color-gray: #2f303a;
  --background-color-overlay: rgba(0, 0, 0, 0.2);
  --background-color-white-title: rgba(47, 48, 58, 0.8);
  --background-color-bottom: #f5f4fa;
  --background-color-pop-up-text: rgba(33, 150, 243, 0.9);
  --background-color-social-link-footer: rgba(255, 255, 255, 0.1);
  --border-color: #e5e5e5;
  --border-color-projects: #eeeeee;
  --border-color-close-button: rgba(0, 0, 0, 0.1);
  --icon-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color-black);
}

img {
  display: block;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color-grey);
  background-color: var(--text-color-white);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo__text {
  color: var(--text-color-black-logo);
}

.logo__text--white {
  color: var(--text-color-white);
}

.button {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--text-color-black);
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-color-white);
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item + .social__item {
  margin-left: 10px;
}

.social__icon {
  fill: currentColor;
}

.social__icon--footer {
  fill: var(--text-color-white);
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

.social__link:hover, .social__link:focus {
  color: var(--text-color-white);
  background-color: var(--accent-color);
}

.social__link--team {
  color: var(--icon-color);
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.social__link--footer {
  background: var(--background-color-social-link-footer);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.header {
  border-bottom: solid 1px var(--border-color);
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__logo {
  margin-top: 24px;
  margin-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.navigation__list {
  margin-left: 93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__item + .navigation__item {
  margin-left: 50px;
}

.navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-black);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.navigation__link--current {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.navigation__link--current::after {
  position: absolute;
  display: inline-block;
  content: '';
  bottom: -1px;
  left: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 1;
}

.navigation__link:hover, .navigation__link:focus, .navigation__link--current:hover, .navigation__link--current:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.contacts {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__list + .contacts__list {
  margin-left: 50px;
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.contacts__icon:hover {
  fill: var(--accent-color);
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color-grey);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects__list {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects__item + .projects__item {
  margin-left: 8px;
}

.projects__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--text-color-black);
  background-color: var(--background-color-bottom);
  border-radius: 4px;
  border: none;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.projects__button:hover, .projects__button:focus {
  background-color: var(--accent-color);
  color: var(--text-color-white);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works__item {
  overflow: hidden;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.works__item:nth-child(3n) {
  margin-right: 0px;
}

.works__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.works__img {
  display: block;
  width: 100%;
}

.works__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
}

.works__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.56;
  color: var(--text-color-white);
  background-color: var(--background-color-pop-up-text);
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.works__item:hover .works__text,
.works__item:focus .works__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.works__item:hover, .works__item:focus {
  display: inline-block;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works__summary {
  border-bottom: 1px solid var(--border-color-projects);
  border-right: 1px solid var(--border-color-projects);
  border-left: 1px solid var(--border-color-projects);
  padding: 20px 24px;
}

.works__title {
  margin-top: 0;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color-black);
}

.works__type {
  margin-top: 0;
  font-size: 16px;
  line-height: 1.88;
}

.footer {
  padding: 60px 0;
  background-color: var(--background-color-gray);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__contact-link {
  margin-top: 0;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color-auth-nav);
}

.footer__contact-link:hover, .footer__contact-link:focus {
  color: var(--accent-color);
}

.footer__social {
  display: block;
  margin-left: 70px;
}

.address {
  padding-top: 0;
}

.address__list:first-child {
  margin-top: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  font-style: normal;
  color: var(--text-color-white);
}

.address__link:hover, .address__link:focus {
  color: var(--accent-color);
}

.footer-form {
  margin-left: 93px;
}

.footer-form__white-title {
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--text-color-white);
}

.footer-form__input {
  margin-right: 12px;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: inherit;
  color: var(--text-color-auth-nav);
  border-radius: 4px;
}

.footer-form__input:focus {
  border-color: var(--text-color-white);
  outline: none;
}

.footer-form__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-color-auth-nav);
}

.footer-form__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-color-auth-nav);
}

.footer-form__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-color-auth-nav);
}

.footer-form__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: var(--text-color-auth-nav);
}

.footer-form__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 28px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--text-color-white);
  background-color: var(--accent-color);
}

.footer-form__button:hover, .footer-form__button:focus {
  background-color: #188CE8;
}

.footer-form__icon {
  margin-left: 10px;
  fill: var(--text-color-white);
}
/*# sourceMappingURL=portfolio.css.map */