:root {
	--text-color-white: #ffffff;
	--text-color-black: #212121;
	--text-color-grey: #757575;
	--accent-color: #2196f3;
	--text-color-auth-nav: rgba(255, 255, 255, 0.6);
	--text-color-black-logo: #000000;
	--background-color-gray: #2f303a;
	--background-color-overlay: rgba(0, 0, 0, 0.2);
	--background-color-white-title: rgba(47, 48, 58, 0.8);
	--background-color-bottom: #f5f4fa;
	--background-color-pop-up-text: rgba(33, 150, 243, 0.9);
	--background-color-social-link-footer: rgba(255, 255, 255, 0.1);
	--border-color: #e5e5e5;
	--border-color-projects: #eeeeee;
	--border-color-close-button: rgba(0, 0, 0, 0.1);
	--icon-color: #afb1b8;
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}