.footer {
	padding: 60px 0;
	background-color: var(--background-color-gray);

	&__container {
		display: flex;
		align-items: baseline;
	  }
	&__contact-link {
		margin-top: 0;
		font-weight: 400;
		font-style: normal;
		color: var(--text-color-auth-nav);
	}	
	&__contact-link:hover,
	&__contact-link:focus{
		color: var(--accent-color);
	} 
    &__social{
	    display: block;
        margin-left: 70px;
}
}

.address {
	padding-top: 0;

	&__list:first-child {
		margin-top: 20px;
	}

	&__item:not(:last-child) {
		margin-bottom: 9px;
	}

    &__link {
	   font-style: normal;
	   color: var(--text-color-white);
}

    &__link:hover,
    &__link:focus{
	color: var(--accent-color);
}
}

.footer-form {
	margin-left: 93px;

	&__white-title {
		margin-bottom: 20px;
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		text-transform: uppercase;
		color: var(--text-color-white);	
	}	

    &__input {
	    margin-right: 12px;
    	padding: 15px 16px;
    	width: 358px;
	    height: 50px;
	    border: 1px solid rgba(255, 255, 255, 0.3);
	    background-color: inherit;
	    color: var(--text-color-auth-nav);
    	border-radius: 4px;
    }

    &__input:focus {
    	border-color: var(--text-color-white);
    	outline: none;
    }

    &__input::placeholder {
	    font-size: 16px;
    	line-height: 1.25;
	    color: var(--text-color-auth-nav)
  }

    &__button {
    	@extend %button;
    	display: inline-flex;
    	align-items: center;
	    padding: 10px 28px;	
}

    &__icon {
       margin-left: 10px;
	   fill: var(--text-color-white);
  }
}