
.work-process {
	padding-top: 0;

    &__list {
        display: flex;
    }

   &__item {
        position: relative;
        margin-top: 0;
        width: 370px;
    }

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__img {
        display: block;
        max-width: 100%;
    }

    &__white-title {
    	position: absolute;
    	padding: 27px 0;
    	font-size: 14px;
    	font-weight: 700;
        line-height: 1.14;
    	width: 100%;
        bottom: 0;
        color: $text-color-white;
        text-align: center;
        text-transform: uppercase;
        background-color: $background-color-white-title;
}
}