.social{
@include flexCenter;

	&__title {
		margin-bottom: 20px;
		font-style: normal;
		font-weight: 700;
		font-size: 14px;
		line-height: 1.14;
		text-transform: uppercase;
		color: $text-color-white;	
	}	

    &__list {
   @include flexCenter;
    }

    &__item + &__item {
     margin-left: 10px;
    }
}

 .social__icon {
	fill: currentColor;

    &--footer {
	fill: $text-color-white;
    }
}

.social__link {
	@include flexCenter;
	width: 44px;
	height: 44px;
    border-radius: 50%;	

    &:hover,
    &:focus {
        color: $text-color-white;
        background-color: $accent-color;
        
    } 

    &--team {
        color: $icon-color;
    	background-position: center;
	    background-repeat: no-repeat;
	    transition: color 250ms $timing-function, background-color 250ms $timing-function;
} 

    &--footer {
	    background: $background-color-social-link-footer;
    	transition: background-color 250ms $timing-function;
  }

 } 


